In [98]:
import pandas as pd
import json
import cait_datamosh as cait

In [28]:
%load_ext autoreload
%autoreload 2

In [2]:
edata = pd.read_excel("../input/CAIT_Country_GHG_Emissions_-_All_Data-10022017.xlsx",sheet_name="GHG Emissions", header=[0,1], index_col=[0,1])

In [6]:
edata.head()

                                                                    Emissions Totals  \
Year             Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)
Afghanistan 1990                                          15.212848
            1991                                          15.286439
            1992                                          14.010531
            1993                                          14.028118
            1994                                          13.985408

                                                                                       \
Year             Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)
Afghanistan 1990                                          15.212848
            1991                                          15.286439
            1992                                          14.010531
            1993                                          14.028118
            1994                                          13.985408

                                            Emissions by Gas Excluding LUCF  \
Year             Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)
Afghanistan 1990                                           2.915024
            1991                                           2.684445
            1992                                           1.392269
            1993                                           1.322704
            1994                                           1.267744

                                                                             \
Year             Total CH4 (MtCO2e) Total N2O (MtCO2e) Total F-Gas (MtCO2e)
Afghanistan 1990           9.311589           2.984055             0.002180
            1991           9.516187           3.082194             0.003613
            1992           9.571483           3.041733             0.005046
            1993           9.609869           3.089066             0.006479
            1994           9.789039           2.920713             0.007912

                                            Emissions by Gas Including LUCF  \
Year             Total CO2 (including Land-Use Change and Forestry) (MtCO2)
Afghanistan 1990                                           2.915024
            1991                                           2.684445
            1992                                           1.392269
            1993                                           1.322704
            1994                                           1.267744

                                                                              \
Year             Total CH4 (including Land-Use Change and Forestry) (MtCO2e)
Afghanistan 1990                                           9.311589
            1991                                           9.516187
            1992                                           9.571483
            1993                                           9.609869
            1994                                           9.789039

                                                                              \
Year             Total N2O (including Land-Use Change and Forestry) (MtCO2e)
Afghanistan 1990                                           2.984055
            1991                                           3.082194
            1992                                           3.041733
            1993                                           3.089066
            1994                                           2.920713

                 Emissions by Sector                                \
Year                 Energy (MtCO2e) Industrial Processes (MtCO2e)
Afghanistan 1990            3.774044                      0.057140
            1991            3.376803                      0.058573
            1992            1.914300                      0.063670
            1993            1.678073                      0.065103
            1994            1.456451                      0.066536

                                                      \
Year             Agriculture (MtCO2e) Waste (MtCO2e)
Afghanistan 1990             7.342710       4.038954
            1991             7.631027       4.220036
            1992             7.631443       4.401118
            1993             7.702742       4.582200
            1994             7.699139       4.763283

                                                                            \
Year             Land-Use Change and Forestry (MtCO2) Bunker Fuels (MtCO2)
Afghanistan 1990                                  0.0                  NaN
            1991                                  0.0                  NaN
            1992                                  0.0                  NaN
            1993                                  0.0                  NaN
            1994                                  0.0                  NaN

                 Energy Emissions by Sub-Sector  \
Year                   Electricity/Heat (MtCO2)
Afghanistan 1990                            NaN
            1991                            NaN
            1992                            NaN
            1993                            NaN
            1994                            NaN

                                                                            \
Year             Manufacturing/Construction (MtCO2) Transportation (MtCO2)
Afghanistan 1990                                NaN                    NaN
            1991                                NaN                    NaN
            1992                                NaN                    NaN
            1993                                NaN                    NaN
            1994                                NaN                    NaN


Year             Other Fuel Combustion (MtCO2e) Fugitive Emissions (MtCO2e)
Afghanistan 1990                            NaN                    1.242220
            1991                            NaN                    1.020851
            1992                            NaN                    0.602588
            1993                            NaN                    0.413993
            1994                            NaN                    0.247331

In [11]:
total = edata.loc["China", 2011]["Emissions by Gas Excluding LUCF"].sum()

11013.03442627012

# validate column totals

In [65]:
cdata = edata.loc["China", 2011]

In [69]:
cdata.loc["Emissions by Sector", sectors]

                     Year
Emissions by Sector  Energy (MtCO2e)                  8902.470680
                     Industrial Processes (MtCO2e)    1221.234311
                     Agriculture (MtCO2e)              692.650802
                     Waste (MtCO2e)                    196.678633
Name: (China, 2011), dtype: float64

In [89]:
cdata["Emissions by Sector"]["Energy (MtCO2e)"]

8902.470679595655

In [97]:
cdata.loc["Energy Emissions by Sub-Sector",list(e_subsectors)]

                                Year
Energy Emissions by Sub-Sector  Electricity/Heat (MtCO2)              4434.890000
                                Manufacturing/Construction (MtCO2)    2789.820000
                                Transportation (MtCO2)                 634.610000
                                Other Fuel Combustion (MtCO2e)         738.338186
                                Fugitive Emissions (MtCO2e)            304.812494
Name: (China, 2011), dtype: float64

In [96]:
sector_names = {
    "Energy (MtCO2e)":"energy", "Industrial Processes (MtCO2e)": "industrial processes", "Agriculture (MtCO2e)": "agriculture", 
    "Waste (MtCO2e)": 'waste'}

e_subsectors = {
    "Electricity/Heat (MtCO2)": "electricity", "Manufacturing/Construction (MtCO2)": "manufacturing", 
    "Transportation (MtCO2)": "transportation", "Other Fuel Combustion (MtCO2e)": "other fuels", 
    "Fugitive Emissions (MtCO2e)": "fugitive"}

# get year data

In [43]:
# no index
edata_ni = edata.reset_index().rename(columns={"level_0": "country", "level_1": "year"})

In [44]:
cdata_yr = edata_ni.loc[edata_ni["year"]==2011]

In [50]:
colname = "Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)"
cdata_yr.loc[:,colname] = cdata_yr["Emissions Totals"][colname]

cdata_yr = cdata_yr.sort_values(by=colname, ascending=False)

In [57]:
worldghg = cdata_yr.loc[cdata_yr["country"] == "World"].copy()

In [59]:
cdata_yr = cdata_yr.loc[~cdata_yr["country"].isin(["World", "European Union (28)"])]

In [62]:
top9ghg = cdata_yr.head(9)

In [63]:
top9ghg.to_excel("../output/top9_ghg2011.xlsx", encoding="utf8")

# format top 9 for chart

In [110]:
top9ghg["Emissions by Sector"][sectors]

Year,Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e)
896,8902.470680,1221.234311,692.650802,196.678633
4596,5594.713254,243.943747,352.796457,163.093757
1946,1842.039917,166.631655,632.485143,58.722269
3596,2028.660092,67.195043,91.713519,72.617637
2146,1176.437878,79.238405,20.856593,4.578047
596,418.930815,50.019669,441.820338,44.053655
1646,753.378150,42.761224,58.170889,9.945956
2846,511.384427,38.735890,84.009303,108.015259
1971,468.235455,24.468759,158.891738,63.277411

In [83]:
top9ghg.loc[896][colname].values[0]

11013.03442627012

In [84]:
top9ghg.loc[896]["Emissions by Sector"][sectors].to_frame(name="size").reset_index()

                            Year     size
0                Energy (MtCO2e)  8902.47
1  Industrial Processes (MtCO2e)  1221.23
2           Agriculture (MtCO2e)  692.651
3                 Waste (MtCO2e)  196.679

In [107]:
crecords = top9ghg.apply(cait.format_sectors, axis=1)

China
11013.029999999999
8902.47
United States of America
6354.54
5594.71
India
2699.8799999999997
1842.04
Russian Federation
2260.19
2028.6599999999999
Japan
1281.12
1176.44
Brazil
954.8199999999999
418.92
Germany
864.26
753.3799999999999
Mexico
742.15
511.38
Indonesia
714.88
468.22999999999996

In [108]:
crecords_df = crecords.to_frame(name="records")

In [109]:
crecords_df.head()

                                                records
896   {'name': 'China', 'size': 11013.03, 'children'...
4596  {'name': 'United States of America', 'size': 6...
1946  {'name': 'India', 'size': 2699.88, 'children':...
3596  {'name': 'Russian Federation', 'size': 2260.19...
2146  {'name': 'Japan', 'size': 1281.11, 'children':...

In [239]:
crecords_df.loc[:, "has error"] = crecords_df["records"].apply(lambda r: r.get("error") != None)

In [243]:
crecords_df.loc[crecords_df["has error"]]

Empty DataFrame
Columns: [records, has error]
Index: []

In [126]:
wt = worldghg["Emissions by Sector"][list(sector_names)].T

In [136]:
orecord = cait.other_record(worldghg, top9ghg)

In [137]:
orecord

{'name': 'Other',
 'size': 17174.87,
 'children': [{'name': 'energy',
   'size': 12966.92,
   'children': [{'name': 'electricity', 'size': 4655.51},
    {'name': 'manufacturing', 'size': 1655.87},
    {'name': 'transportation', 'size': 3574.53},
    {'name': 'other fuels', 'size': 1758.7},
    {'name': 'fugitive', 'size': 1322.33}]},
  {'name': 'industrial processes', 'size': 799.27},
  {'name': 'agriculture', 'size': 2646.35},
  {'name': 'waste', 'size': 762.34}]}

In [141]:
ghg2011 = {"name": "global ghg sources", "children": [orecord] + crecords_df["records"].values.tolist()}

In [142]:
with open("../output/ghg2011_source_countries.json", 'w') as f:
    json.dump(ghg2011, f, indent=2)